<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="father" class="Pojo.Father">
        <property name="name" value="72"></property>
        <property name="age" value="48"></property>
    </bean>
    <bean name="mather" class="Pojo.Mather">
        <property name="name" value="69"></property>
        <property name="age" value="51"></property>
        <property name="daughter" ref="daughter"></property>
    </bean>
    <bean name="daughter" class="Pojo.Daughter">
        <property name="name" value="98"></property>
        <property name="age" value="21"></property>
    </bean>
</beans>

